body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color: aliceblue; */
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 15px 20px;
  background-color: blue;
  color: rgb(46, 10, 10);
  border: 1px solid blue;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

App {
  text-align: center;
  margin-top: 32px;
}

DeleteForeverIcon {
  cursor: pointer;
}
